<a href="https://colab.research.google.com/github/cetinus-gulin/ie423/blob/main/task5-6-7/task7-gulin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Initialize

In [1]:
import pandas as pd

# Load data

In [2]:
#from google.colab import drive
#drive.mount('/content/drive')

#dfPurchase = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train.csv')
dfPurchase = pd.read_csv('train.csv')
dfPurchase.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

# Prepare data

In [3]:
# Drop missing values
dfPurchase.dropna(inplace=True)
dfPurchase.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055

In [4]:
# Convert to list format
dfPurchaseList=dfPurchase.groupby('User_ID').Product_ID.apply(list)
dfPurchaseList

User_ID
1000001    [P00248942, P00085942, P00102642, P00110842, P...
1000002    [P00289342, P00034742, P00177442, P00116842, P...
1000003    [P00128042, P00112142, P00182742, P00110742, P...
1000004    [P00184942, P00046742, P00329542, P00114942, P...
1000005    [P00145042, P00324442, P00036842, P00173342, P...
                                 ...
1006036    [P00294442, P00118342, P00243942, P00156742, P...
1006037    [P00177442, P00087042, P00025442, P00086442, P...
1006038                    [P00034742, P00086042, P00109542]
1006039    [P00088542, P00254242, P00202742, P00085942, P...
1006040    [P00148642, P00059442, P00024142, P00192042, P...
Name: Product_ID, Length: 5870, dtype: object

# Build model

Associate Rule Mining

In [5]:
# Encode data as transaction matrix
!pip3 install mlxtend --upgrade
from mlxtend.preprocessing import TransactionEncoder

model_trans = TransactionEncoder()
model_trans_arr= model_trans.fit(dfPurchaseList).transform(dfPurchaseList)
dfPurchase = pd.DataFrame(model_trans_arr, columns=model_trans.columns_)
dfPurchase

Requirement already satisfied: mlxtend in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from mlxtend) (1.13.0)
Requirement already satisfied: numpy>=1.16.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from mlxtend) (1.4.0)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (24.0)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn>=1.0.2->mlxtend) (3.4.0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

,P00000142,P00000242,P00000642,P00001042,P00001142,P00001542,P00002142,P00002242,P00003442,P00004242,...,P0096442,P0096542,P0096642,P0096742,P0096842,P0097342,P0099042,P0099742,P0099842,P0099942
0,True,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5865,False,False,True,False,True,False,False,False,True,False,...,False,True,False,True,False,True,False,False,False,False
5866,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5867,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5868,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5869,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
%%time
# Determine the items and itemsets with at least 3% support (generates all itemsets and then filters by support)

from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(dfPurchase, min_support=0.03, use_colnames=True)
frequent_itemsets

CPU times: user 3.46 s, sys: 1.12 s, total: 4.58 s
Wall time: 5.15 s

       support                           itemsets
0     0.196252                        (P00000142)
1     0.064055                        (P00000242)
2     0.087223                        (P00000642)
3     0.085690                        (P00001042)
4     0.098467                        (P00001142)
...        ...                                ...
4236  0.042078  (P00145042, P00237542, P00270942)
4237  0.033560  (P00145042, P00242742, P00270942)
4238  0.033390  (P00184942, P00237542, P00270942)
4239  0.036457  (P00237542, P00242742, P00270942)
4240  0.030153  (P00295942, P00237542, P00270942)

[4241 rows x 2 columns]

In [7]:
%%time
# Speed up by using pattern fragment growth method for mining frequent itemsets (uses density to find good itemsets)

from mlxtend.frequent_patterns import fpgrowth

frequent_itemsets = fpgrowth(dfPurchase, min_support=0.03, use_colnames=True)
frequent_itemsets

CPU times: user 2.23 s, sys: 50.5 ms, total: 2.28 s
Wall time: 2.53 s

       support                itemsets
0     0.275128             (P00025442)
1     0.245315             (P00184942)
2     0.239523             (P00059442)
3     0.218228             (P00110842)
4     0.212266             (P00102642)
...        ...                     ...
4236  0.030664  (P00165442, P00073842)
4237  0.030835  (P00165442, P00237542)
4238  0.030664  (P00165442, P00110742)
4239  0.032198  (P00165442, P00145042)
4240  0.030494  (P00057642, P00165442)

[4241 rows x 2 columns]

In [14]:
# Evaluate the metrics, and filter the items and itemsets that have at least 65% confidence

from mlxtend.frequent_patterns import association_rules

a_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.55)
a_rules.sort_values(by=['confidence'],ascending=False,inplace=True)
a_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
12,"(P00102642, P00270942)",(P00057642),0.065928,0.250426,0.039353,0.596899,2.383536,0.022842,1.859520,0.621425
10,"(P00270942, P00329542)",(P00057642),0.057411,0.250426,0.034242,0.596439,2.381699,0.019865,1.857401,0.615466
29,"(P00046742, P00057942)",(P00110742),0.056048,0.274617,0.033049,0.589666,2.147232,0.017658,1.767786,0.566007
23,"(P00073842, P00112542)",(P00110742),0.052300,0.274617,0.030664,0.586319,2.135046,0.016302,1.753486,0.560964
27,"(P00057642, P00057942)",(P00110742),0.057240,0.274617,0.033049,0.577381,2.102498,0.017330,1.716400,0.556213
30,(P00016842),(P00270942),0.053663,0.196252,0.030835,0.574603,2.927882,0.020303,1.889407,0.695794
3,"(P00114942, P00010742)",(P00057642),0.064395,0.250426,0.036797,0.571429,2.281827,0.020671,1.749006,0.600419
9,"(P00057642, P00329542)",(P00270942),0.059966,0.196252,0.034242,0.571023,2.909638,0.022473,1.873637,0.698182
19,"(P00127642, P00270942)",(P00057642),0.057581,0.250426,0.032879,0.571006,2.280139,0.018459,1.747283,0.595733
25,"(P00243942, P00270942)",(P00057642),0.054344,0.250426,0.031005,0.570533,2.278250,0.017396,1.745359,0.593310
6,"(P00112142, P00329542)",(P00110742),0.055707,0.274617,0.031687,0.568807,2.071277,0.016388,1.682272,0.547718
24,"(P00243942, P00112142)",(P00025442),0.056559,0.275128,0.032027,0.566265,2.058189,0.016466,1.671233,0.544958
11,"(P00145042, P00270942)",(P00057642),0.091141,0.250426,0.051278,0.562617,2.246640,0.028454,1.713770,0.610536
1,"(P00062842, P00110742)",(P00046742),0.060988,0.244974,0.034242,0.561453,2.291882,0.019301,1.721651,0.600288
26,(P00019342),(P00270942),0.056218,0.196252,0.031516,0.560606,2.856560,0.020483,1.829219,0.688643
7,"(P00046742, P00329542)",(P00057642),0.054003,0.250426,0.030153,0.558360,2.229640,0.016629,1.697250,0.582980
15,"(P00111142, P00270942)",(P00057642),0.065928,0.250426,0.036797,0.558140,2.228761,0.020287,1.696405,0.590233
8,"(P00270942, P00329542)",(P00114942),0.057411,0.200681,0.032027,0.557864,2.779846,0.020506,1.807855,0.679265
22,"(P00111142, P00073842)",(P00110742),0.054685,0.274617,0.030494,0.557632,2.030584,0.015477,1.639775,0.536891
4,"(P00112542, P00112142)",(P00110742),0.077002,0.274617,0.042930,0.557522,2.030183,0.021784,1.639366,0.549767
28,"(P00057942, P00112142)",(P00110742),0.060818,0.274617,0.033901,0.557423,2.029822,0.017200,1.638999,0.540200
18,"(P00057642, P00127642)",(P00270942),0.059114,0.196252,0.032879,0.556196,2.834089,0.021278,1.811042,0.687812
2,"(P00062842, P00057642)",(P00046742),0.059114,0.244974,0.032879,0.556196,2.270424,0.018398,1.701259,0.594709
13,"(P00111142, P00112142)",(P00110742),0.075298,0.274617,0.041738,0.554299,2.018445,0.021060,1.627510,0.545656
16,"(P00127642, P00112542)",(P00025442),0.055026,0.275128,0.030494,0.554180,2.014263,0.015355,1.625929,0.532861
20,"(P00125942, P00057642)",(P00145042),0.058433,0.239523,0.032368,0.553936,2.312663,0.018372,1.704860,0.602823
21,"(P00125942, P00270942)",(P00145042),0.057411,0.239523,0.031687,0.551929,2.304283,0.017935,1.697224,0.600501
0,"(P00025442, P00102642)",(P00110742),0.087394,0.274617,0.048211,0.551657,2.008825,0.024212,1.617920,0.550288
17,"(P00127642, P00112542)",(P00110742),0.055026,0.274617,0.030324,0.551084,2.006737,0.015213,1.615854,0.530891
5,"(P00112142, P00329542)",(P00057642),0.055707,0.250426,0.030664,0.550459,2.198090,0.016714,1.667420,0.577215
14,"(P00111142, P00110842)",(P00110742),0.062521,0.274617,0.034412,0.550409,2.004280,0.017243,1.613428,0.534484

In [9]:
# Learn the lowest confidence percentage
a_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.0)
a_rules.sort_values(by=['confidence'],ascending=True,inplace=True)
a_rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
4972,(P00025442),"(P00113242, P00112142)",0.275128,0.058262,0.030153,0.109598,1.881104,0.014124,1.057654,0.646179
6142,(P00025442),"(P00111142, P00086442)",0.275128,0.059284,0.030153,0.109598,1.848671,0.013843,1.056506,0.633313
8351,(P00025442),"(P00046742, P00243942)",0.275128,0.056388,0.030153,0.109598,1.943618,0.014639,1.059758,0.669767
3003,(P00110742),"(P00112542, P00242742)",0.274617,0.057240,0.030153,0.109801,1.918258,0.014434,1.059044,0.659918
552,(P00110742),"(P00000142, P00110842)",0.274617,0.063203,0.030153,0.109801,1.737290,0.012797,1.052346,0.585058

In [10]:
a_rules["confidence"].mean()

0.2887974378553135

# Takeways

- The lowest confidence is 1%, between purchasing P00114942 and P00028442; after purchasing P00025442.
- The highest confidence is 59%, between purchasing P00057642; after purchasing P00329542, P00270942 and P00102642
- The mean of confidence for this dataset is 28%, we can deduce that the most of the relations that we concluded are not strong enough to make a definite suggestion.
- The reason why I chose 3% support threshold is that with a lower threshold, the Python kernel would crash in both local and Colab.